---
---

@import "{{ site.theme }}";

// Define the enso colors:
$enso-blue-1: #1A48AA;
$enso-blue-2: #1F72C3;
$enso-blue-3: #1690D8;
$enso-grey-1: #A8A9AC;
.main-content h1,
.content h1,
h1 {
  color: $enso-blue-1;
}
.main-content h2,
.content h2,
h2 {
  color: $enso-blue-2;
}
.main-content h3,
.content h3,
h3 {
  color: $enso-blue-3;
}
hr {
  height: 0; 
  border: 0; 
  border-top: 2px solid $enso-blue-2; 
}
.btn {  // background is white in this case
  color: $enso-blue-2;
  border-color: $enso-blue-2;
}
.btn:hover { 
  color: white;
  background-color: $enso-blue-2; 
//  border-color: $enso-blue-1; 
}
.site-footer-credits {
  font-style: italic;
}
