---
---

@import "{{ site.theme }}";

// Define the enso colors:
$enso-blue-1: #1A48AA;
$enso-blue-2: #1F72C3;
$enso-blue-3: #1690D8;
$enso-grey-1: #A8A9AC;
h1 {
  color: $enso-blue-1;
}
h2 {
  color: $enso-blue-2;
}
h3 {
  color: $enso-blue-3;
}
hr {
  height: 0; 
  border: 0; 
  border-top: 2px solid $enso-blue-2; 
}